extends ../common/layout 

block css
  link(rel="stylesheet", href="/css/admin-add.css" , type="text/css")

//- /admin/manage/addp
block layout-content 
  h1 Add project
  form(method="post", action="/admin/addp/submit")
    div 
      label(for="title") Title: 
      input(type="text", id="title", name="title", placeholder="project title")
    div
      label(for="description") Description: 
      input(type="text", id="desctription", name="description", placeholder="a short description of the project")
    div
      label(for="stack") Tech Stack: 
      input(type="text", id="stack", name="stack", placeholder="tech stacks used in the project")
    div
      label(for="URL") URL: 
      input(type="text", id="URL", name="URL", placeholder="project link")
      
    .form-buttons
      button(type="submit") Add project
      a.btn-cancel(href="/admin/manage") Cancel